* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 630px;
    margin: auto;
    cursor: url("png/hand-regular.png"), pointer;
}

section {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: arial;
    line-height: 25px;
    margin: 30px;
}

section img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
    object-position: top;
}

section p {
    max-width: 450px;
    background: lightgrey;
    padding: 20px;
    border-radius: 20px 20px 20px 0;
    position: relative;
}

section p::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -32px;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 20px solid transparent;
    border-right-color: lightgrey;
}

section:nth-of-type(even) {
    flex-direction: row-reverse;
}

section:nth-of-type(even) img {
    object-position: center;
}

section:nth-of-type(even) p {
    background: #3bc06f;
    color: white;
    border-radius: 20px 20px 0 20px;
}

section:nth-of-type(even) p::before {
    border: 20px solid transparent;
    border-left-color: #3bc06f;
    left: 98%;
}

@media (max-width: 630px){
    section p {
        width: 70%;
    }
}


/* Interactions */
section {
    /* cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAZCAMAAAD63NUrAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAFZJREFUeNqdzksKwDAIAFHH+x+6lIYOVPOhs5OHJnES/5UkYKEkU7xjijSIm50iFh4fAXgYDd/yumVVRSwsqq/nRA3xVK0oo06d5U6DpQZ7PV7lMxH7LkaQAbYFwryzAAAAAElFTkSuQmCC),auto; */
    cursor: url("png/hand-pointer-regular.png"), auto;
    transition: transform 0.3s;
}

section:hover {
    transform: translateX(-20px);
}